.Button {
	gap: 8rem;
	border: 0;
	outline: none;
	height: 36rem;
	cursor: pointer;
	background-color: var(--secondary-color);
	transition: var(--transition-duration) background-color;
	&:hover,
	&:active {
		background-color: var(--secondary-color-dark); }
	&:disabled {
		cursor: not-allowed;
		background-color: transparent; }
	&__Icon,
	&__Text {
		user-select: none;
		color: var(--secondary-color-text); }
	&__Icon {
		font-size: 24rem; }
	&__Text {
		margin-top: 1px; } }