:root {
	--button-dimension: calc(var(--space) * 9 / 5); }

.Button {
	cursor: pointer;
	height: var(--button-dimension);
	background-color: var(--primary-color);
	gap: calc(var(--button-dimension) * 2 / 9);
	padding: 0 calc(var(--button-dimension) * 5 / 18);
	transition: var(--transition-duration) background-color;
	&:hover,
	&:focus,
	&:active {
		background-color: var(--primary-color-dark); }
	&:disabled {
		cursor: not-allowed;
		&:hover {
			background-color: var(--primary-color); } }
	&__icon {
		--fix: -2rem;
		--dim: calc(var(--button-dimension) * 2 / 3);
		width: var(--dim);
		height: var(--dim);
		font-size: var(--dim);
		&-left {
			margin-left: var(--fix); }
		&-right {
			margin-right: var(--fix);
			margin-left: calc(var(--fix) * 2); } }
	&__text {
		margin-top: 1rem;
		font-weight: 500;
		letter-spacing: 1.25rem;
		font-size: calc(var(--button-dimension) * 2 / 5); }
	&__square {
		border-radius: 50%;
		width: var(--button-dimension); }
	&__transparent {
		background-color: transparent;
		&:hover,
		&:focus,
		&:active {
			background-color: var(--hover-color); } }
	&__icon,
	&__text {
		user-select: none;
		color: var(--primary-color-text); }
	&__square &__icon {
		margin-left: 0; }
	&__transparent &__icon,
	&__transparent &__text {
		color: var(--text-color); } }