.Button {
	border: 0;
	outline: none;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	height: var(--info-height);
	padding: 0 var(--space-half);
	border-radius: var(--border-radius);
	background-color: var(--elevated-color);
	transition: var(--transition-duration) background-color;
	&:hover {
		background-color: var(--button-hover-color); }
	&:active {
		background-color: #bdbdbd; }
	&:disabled {
		cursor: not-allowed;
		background-color: transparent; }
	&__icon,
	&__text {
		user-select: none;
		color: var(--text-color-light); }
	&__icon {
		font-size: 20rem; }
	&__spacer {
		width: 4rem;
		height: 100%; }
	&__text {
		margin-top: 1px;
		font-size: 17rem;
		font-weight: 700;
		text-transform: uppercase; } }